<!-- templates/inventory/item_list.html -->
{% extends 'base.html' %}

{% block title %}Item List{% endblock %}

{% block content %}
<h1>Inventory Items</h1>
<a href="{% url 'item_create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add New Item</a>
<table>
    <tr>
        <th>Description</th>
        <th>Category</th>
        <th>Unit of Measurement</th>
        <th>Current Unit Price</th>
        <th>Stock Balance</th>
        <th>Action</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.description }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.unit_of_measurement }}</td>
        <td>{{ item.current_unit_price }}</td>
        <td>{{ item.stock_balance }}</td>
        <td>
            <a href="{% url 'item_edit' item.pk %}" class="btn btn-warning btn-sm" style="margin-right: 0.50em;">Edit</a>
            <a href="{% url 'item_delete' item.pk %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

