<!-- templates/inventory/purchase_record_list.html -->
{% extends 'base.html' %}

{% block title %}Purchase Records{% endblock %}

{% block content %}
<h1>Purchase Records</h1>
<a href="{% url 'purchase_record_create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Create New Purchase</a>
<table>
    <tr>
        <th>Date</th>
        <th>Supplier</th>
        <th>Purchaser</th>
    </tr>
    {% for record in purchase_records %}
    <tr>
        <td><a href="{% url 'purchase_record_detail' record.pk %}">{{ record.date }}</a></td>
        <td>{{ record.supplier }}</td>
        <td>{{ record.purchaser }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

